<!--ヘッター-->
<%= render 'layouts/header' %>
<div class="container mt-5">
 <div class="row">
   <!--カテゴリ-->
  <%= render "layouts/side", post_categories: @post_categories, question_categories: @question_categories %>
  
  <div class="col-2">
  </div>
  <div class="col-10">
   <h2>#<%= @hashtag.hashname %></h2>
  <ul class="list-unstyled">
    <% @post_images.each do |post_image| %>
      <li>
        <%= link_to post_image_path(post_image.id) do %>
          <%= image_tag post_image.get_image(200,200) %>
        <% end %>
      </li>
    <% end %>
  </ul>
  </div>
  </div>
  </div>
<!--フッター-->
<%= render 'layouts/footer' %>