<!--ヘッター-->
<%= render 'layouts/header' %>

<h5>投稿一覧</h5>
<% @post_images.each do |post_image| %>
<%= link_to post_image_path(post_image.id) do %>
<%= image_tag post_image.get_image %>
<% end %>
<%= link_to user_path(post_image.user) do %>
<%= post_image.user.name %>
<% end %>
<%= link_to(post_image_path(post_image.id), class:"text-dark") do %>
<p><%= post_image.title %></p>
<% end %>
<%= post_image.body %>
<p>♡</p>
<p>コメントの数</p>
<br>
<% end %>

<!--フッター-->
<%= render 'layouts/footer' %>