<!--ヘッター-->
<%= render 'layouts/header' %>
<!--一覧-->
<p>カテゴリー</p>
    <% @post_categories.each do |category| %>
        <%= category.post_category %>
    <% end %>



  <div class="col-lg-10">
<% @post_images.each do |post_image| %>
<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success"><%= image_tag post_image.get_image(200,200)%></div>
  <div class="card-body text-success">
    <h5 class="card-title">
      <%= link_to(post_image_path(post_image.id), class:"text-dark") do %>
      <%= post_image.title %>
      <% end %>
    </h5>
    <p class="card-text">
      <%= link_to user_path(post_image.user),class:"text-dark" do %>
      by<%= post_image.user.name %>
      <% end %>
      <%= post_image.body %>
    </p>
  </div>

  <div class="card-footer bg-transparent border-success">
    <%= render_with_hashtags(post_image.hashbody) %>
    <!--いいね-->
<% if post_image.favorited_by?(current_user) %>
    <p>
      <%= link_to post_image_favorites_path(post_image), method: :delete do %>
        ♥<%= post_image.favorites.count %>
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_image_favorites_path(post_image), method: :post do %>
        ♡<%= post_image.favorites.count %>
      <% end %>
    </p>
  <% end %>
<%= link_to "#{post_image.comments.count} コメント", post_image_path(post_image.id) %>
  </div>
</div>
  <% end %>
  </div>
</div>
</div>
</div>
<!--フッター-->
<%= render 'layouts/footer' %>