<!--ヘッター-->
<%= render 'layouts/header' %>
<div class="container mt-5">
<div class="row mx-5 mt-5">
<!--カテゴリ-->
<%= render "layouts/side", post_categories: @post_categories, question_categories: @question_categories, hashtags: @hashtags %>
<div class="col-8 offset-1">
<% unless current_user.name == "guestuser" %>
<!--リンク-->
<div  class="mb-2">
<li class="mx-2 d-inline">記録を投稿</li>
<li class="mx-2 d-inline"><%= render "public/shared/moves" %></li>
</div>
<!--フォーム-->
<%= form_with model: @post_image do |f| %>
<div class="form-group row">
<%= f.file_field :image, accept: "image/*", class: "w-100 mb-2" %>
<%= f.text_field :title, class:"form-control mb-2", placeholder:"タイトル" %>
<%= f.collection_select :post_category_id, PostCategory.all, :id, :post_category, { prompt: 'カテゴリーを選択してください' }, class:"form-control mb-2" %>
<%= f.text_area :body, class:"form-control mb-2",rows:"3",placeholder:"例:植物の様子や伝えたいことなど"%>
<%= f.submit '投稿', class:"btn btn-lg btn-block btn-outline-info mt-4 my-sm-0" %>
</div>
<% end %>
</div>
 <% else %>
 <%= render 'public/users/guests' %>
 <% end %>
 </div>
 </div>
  </div>
<!--フッター-->
<%= render 'layouts/footer' %>