<!--ヘッター-->
<%= render 'layouts/header' %>
<h5>記録投稿</h5>
<!--リンク-->
<div class="row"></div>
<%= render "public/shared/moves" %>
</div>

<!--フォーム-->
<%= form_with model: @post_image do |f| %>

<%= f.file_field :image, accept: "image/*", class: "w-100" %>
<%= f.text_field :title, class:"form-control", placeholder:"タイトル" %>
<%= f.collection_select :post_category_id, PostCategory.all, :id, :post_category, { prompt: 'カテゴリー選択' } %>
<%= f.text_area :body, class:"form-control", rows:"3", placeholder:"内容をここに" %>
<%= f.text_area :hashbody, size:"55x3" %>
<%= f.submit '投稿', class:"btn btn-lg btn-block btn-info mt-4" %>

<% end %>


<!--フッター-->
<%= render 'layouts/footer' %>