<!--ヘッター-->
<%= render 'layouts/header' %>
<div class="container mt-5">
  <div class="row">
    <div class="col-2 list-unstyled">
      <p>投稿カテゴリー</p>
      <% @post_categories.each do |category| %>
        <li><%= link_to category.post_category,post_images_path(post_category: category.id) %></li>
      <% end %>
    </div>
    <div class="col-10">
      <div class="col">
        <%= link_to(user_path(@post_image.user), class:"text-dark") do %>
          <%= image_tag @post_image.user.get_profile_image(30,30),class: "rounded-circle" %>
          <%= @post_image.user.name %>
        <% end %>
        <!--自分の投稿は編集/削除ができる-->
        <% if @post_image.user == current_user %>
          <%= link_to edit_post_image_path(@post_image) do %>
            編集
          <% end %>|
          <%= link_to post_image_path(@post_image), method: :delete, data: { confirm: '本当に消しますか？' } do%>
            削除
          <% end %>
        <% end %>
        <br>
        <%= image_tag @post_image.get_image(200,200) %>
      </div>
      <div class="col">
        <p class="font-weight-bold"><%= @post_image.title %></p>
        <p><%= @post_image.body %></p>
        <p>♥<%= @post_image.favorites.count %>
        <i class="fa-regular fa-message"></i><%= @post_image.comments.count %></p>
        <p><%= render_with_hashtags(@post_image.hashbody) %></p>
        <!--ゲスト以外はいいねを押すことができる-->
        <% if current_user.name != "guestuser" %>
          <% if @post_image.favorited_by?(current_user) %>
            <h3>
              <%= link_to post_image_favorites_path(@post_image), method: :delete, class: "link" do %>
                ♥
              <% end %>
            </h3>
          <% else %>
            <h3>
              <%= link_to post_image_favorites_path(@post_image), method: :post, class: "link"  do %>
                ♡
              <% end %>
            </h3>
          <% end %>
        <% end %>
        <!--コメント一覧-->
        <% @post_image.comments.each do |comment| %>
          <%= image_tag comment.user.get_profile_image(100,100) %>
          <%= comment.user.name %>
          <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
          <!--コメントしたのが自分のものの場合削除できる-->
          <% if comment.user == current_user %>
            <%= link_to "削除", post_image_comment_path(comment.post_image, comment), method: :delete %>
          <% end %>
        <% end %>
        <!--ゲストユーザー以外はコメントできる-->
      　<%= form_with model: [@post_image, @comment], method: :post, local: true do |f| %>
      　　<%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
      　　<%= f.submit "投稿",class: "btn btn-outline-success" %>
      　<% end %>
      </div>
    </div>
  </div>
</div>
<!--フッター-->
<%= render 'layouts/footer' %>