 <div class="container mt-5">
   <div class="row mx-5 mt-5">
      <div class="col-md-12">

        <div class="card border-success shadow p-3 mx-auto mt-5" style="width:50rem">
         <div class='row no-gutters mx-auto'>

           <!--左-->
           <div class="col-md-8">
             <%= link_to(user_path(@post_image.user), class:"text-dark") do %>
               <%= image_tag @post_image.user.get_profile_image(100,100),class: "icon rounded-circle" %>
               <%= @post_image.user.name %>
             <% end %>
              <!--自分の投稿は編集/削除ができる-->
              <% if @post_image.user == current_user %>
                <%= link_to edit_post_image_path(@post_image) do %>
                  編集
                <% end %>|
                <%= link_to post_image_path(@post_image), method: :delete, data: { confirm: '本当に消しますか？' } do%>
                  削除
                <% end %>
              <% end %>
                 <div class="show-image mt-2">
                  <%= image_tag @post_image.get_image(700,520) %><br>
                 </div>
                 <!--ゲストユーザー以外はコメントできる-->
                  <% if current_user.name != "guestuser" %>
                   <%= form_with model: [@post_image, @comment], method: :post, local: true do |f| %>
                    <div class="form-group mt-2">
                     <%= f.text_area :comment, placeholder: "コメントをここに" ,class: 'form-control comment',size: "12x5" %>
                    </div>
                     <%= f.submit "投稿",class: "btn btn-outline-success" %>
                   <% end %>
                  <% end %>
             </div>

           <!--右-->
          <div class="col-md-4 ard-body">
            <div class="card-body">

            <p class="font-weight-bold">
              <%= @post_image.title %>
            </p>
            <p>
              <%= render_with_hashtags(@post_image.body) %>
            </p>
            <p>
              ♥<%= @post_image.favorites.count %>
            </p>
            <!--ゲスト以外はいいねを押すことができる-->
              <h2 class="text-end favorite_buttons_<%= @post_image.id %>">
                <%= render "public/favorites/favorite-btn", post_image: @post_image %>
             </h2>

              <h5 class="font-weight-normal">
                <i class="fa-regular fa-message"></i><%= @post_image.comments.count %>
              </h5>

          <!--コメント一覧-->
            <% @post_image.comments.each do |comment| %>
               <%= image_tag comment.user.get_profile_image(100,100),class: "rounded-circle icon"%>
               <%= link_to(user_path(comment.user), class:"text-dark") do %>
                <%= comment.user.name %>
               <% end %>
               <%= comment.created_at.strftime('%Y/%m/%d') %><br>
               <%= comment.comment %>
                 <!--コメントしたのが自分のものの場合削除できる-->
                  <% if comment.user == current_user %>
                     <%= link_to "削除", post_image_comment_path(comment.post_image, comment), method: :delete %>
                  <% end %>
            <% end %>
             </div>
           </div>

         </div>
        </div>

      </div>
   </div>
 </div>