    <!--ヘッター-->
    <%= render 'layouts/header' %>
    <div class="container mt-5">
    <div class="row mx-5 mt-5">
      <!--カテゴリ-->
      <%= render "layouts/side", post_categories: @post_categories, question_categories: @question_categories %>
     <!--一覧-->
    <div class="col-9 offset-1">
      <div class="mt-2 mb-1">
        <%= link_to(user_path(@post_image.user), class:"text-dark") do %>
          <%= image_tag @post_image.user.get_profile_image(30,30),class: "icon rounded-circle" %>
          <%= @post_image.user.name %>
        <% end %>
          <!--自分の投稿は編集/削除ができる-->
          <% if @post_image.user == current_user %>
            <%= link_to edit_post_image_path(@post_image) do %>
            編集
            <% end %>|
            <%= link_to post_image_path(@post_image), method: :delete, data: { confirm: '本当に消しますか？' } do%>
            削除
            <% end %>
          <% end %>
      </div>
      <div class="d-flex">
        <div class="side-image">
          <%= image_tag @post_image.get_image(350,200) %>
          <br>
          <!--ゲストユーザー以外はコメントできる-->
          <% if current_user.name != "guestuser" %>
          　<%= form_with model: [@post_image, @comment], method: :post, local: true do |f| %>
          　<div class="form-group">
          　<%= f.text_area :comment, placeholder: "コメントをここに" ,class: 'form-control comment'%>
          　</div>
          　<%= f.submit "投稿",class: "btn btn-outline-success" %>
          　<% end %>
        　<% end %>
        </div>
      <!--文章-->
      <div class="side-text">
          <p class="font-weight-bold">
            <%= @post_image.title %>
            <span class="font-weight-normal">
                ♥<%= @post_image.favorites.count %>
                <i class="fa-regular fa-message"></i><%= @post_image.comments.count %>
            </span>
          </p>
          <p>
            <%= @post_image.body %>
          </p>
          <p><%= render_with_hashtags(@post_image.hashbody) %></p>
          <!--ゲスト以外はいいねを押すことができる-->
          <% if current_user.name != "guestuser" %>
          <% if @post_image.favorited_by?(current_user) %>

            <h3 class="text-right">
              <%= link_to post_image_favorites_path(@post_image), method: :delete, class: "link" do %>
              ♥
              <% end %>
            </h3>
          <% else %>
            <h3 class="text-right">
              <%= link_to post_image_favorites_path(@post_image), method: :post, class: "link"  do %>
              ♡
              <% end %>
            </h3>

          <% end %>
          <% end %>
          <!--コメント一覧-->
          <% @post_image.comments.each do |comment| %>
          <%= image_tag comment.user.get_profile_image(30,30),class: "rounded-circle icon"%>
          <%= link_to(user_path(comment.user), class:"text-dark") do %>
            <%= comment.user.name %>
          <% end %>
          <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
          <!--コメントしたのが自分のものの場合削除できる-->
          <% if comment.user == current_user %>
          <%= link_to "削除", post_image_comment_path(comment.post_image, comment), method: :delete %>
          　　<br>
          <% end %>
          <% end %>
      </div>
    </div>
    </div>
    </div>
    <!--フッター-->
    <%= render 'layouts/footer' %>