<!--色-->
<!--<div class="background">-->
<div class="container-fluid">
  <%= image_tag(('logo-PlanT-to.png'),width: '20%',height: '20%') %>

  <div class="row justify-content-center top">
    <%= image_tag 'exsample.jpg' %>

    <div class='mx-auto col-10 col-sm-10 col-lg-8 col-xl-6 mt-5'>
      <div class="btn-wrapper col-10 mx-auto">
        <h3>もっと園芸を楽しもう！</h3>
    　　　<p>PlanT-toは園芸の人たちに向けたコミュニティサイトです</p>
        <br>
        <div class="row mt-3">
          <%= link_to 'ログイン',new_user_session_path, class: "btn btn-light btn-sm btn-block mb-3 ログイン" %>
        </div>
        <div class="row">
          <%= link_to '新規登録',new_user_registration_path, class: "btn btn-light btn-sm btn-block mb-3 新規登録" %>
        </div>
        <div class="row">
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>
      <div class="row justify-content-end">
        <%= link_to new_admin_session_path, class: 'text-dark' do%>
        管理者はこちら
        <% end %>
      </div>
      </div>
    </div>
</div>
</div>
<!--フッター-->
<%= render 'layouts/footer' %>
<!--</div>-->