<!--ヘッター-->
<%= render 'layouts/header' %>
  <div class="container-fluid">
    <div class="row mx-auto mt-5">
       <% if params[:name] == nil %>
       <% else %>
       <!--hashtag/:nameの時-->
        <!--サイド(左)-->
        <%= render "layouts/side", post_categories: @post_categories, question_categories: @question_categories, hashtags: @hashtags %>
         <!--一覧(右)-->
          <div class="col-md-9 offset-md-1">

            <div class='row mx-5 justify-content-start'>
              <h5 class="px-5 pt-5">
                #<%= @question_hashtag.question_hashname %>
              </h5>
            </div>

          <% @question.each do |image| %>
          <div class="mx-3 my-4">
              <div class="card border-success shadow p-3 mx-3">
               <div class= "mx-auto">
              <div class="mt-1 pt-3 pl-3">
                  <!--アイコン-->
                  <%= link_to user_path(image.user),class:"text-dark" do %>
                    <%= image_tag image.user.get_profile_image(130,130),class: "icon rounded-circle" %>
                    <%= image.user.name %>
                  <% end %>
                </div>
                　<div class= "index-image col-md-11">
                    <!--写真-->
                    <%= image_tag image.get_question_image(700,520)%>
                  </div>
                    <p class="font-weight-bold card-title pl-3 pt-2 col-md-11">
                    <!--タイトル-->
                      <%= link_to post_image_path(image.id), class:"text-dark" do %>
                        <%= image.question_title %>
                      <% end %>
                    </p>
                    <p class="card-title pl-3 pt-2 col-md-11">
                    <!--内容,ハッシュタグリンク-->
                      <%= render_with_hashtags(image.question_body) %><br>
                      <%= image.created_at.strftime('%Y/%m/%d') %>
                    </p>
                    <!--コメント-->
                    <!--<p class="card-title pl-3 pt-2">-->
                    <!--<= link_to "#{post_image.comments.count} コメント", post_image_path(post_image.id) %>-->
                    <!--</p>-->
                    <!--いいね(会員のみ)-->
                  
                    <h2 class="text-right favorite-btn_<%= image.id %>">
                    <%= render "public/question_favorites/favorite-btn", question: image %>
                 </h2>
                </div>
            <% end %>
                </div>
              </div>
        </div>
      </div>
     <% end %>
    </div>
  </div>
  <!--フッター-->
  <%= render 'layouts/footer' %>