<div class="container-fluid">
  <div class="row mx-5 mt-5">
  <% if params[:name] == nil %>
  <% else %>
    <div class="col-md-12">

      <div class='row mx-3 justify-content-start'>
        <h3>
          #<%= @question_hashtag.question_hashname %>
        </h3>
       </div>
      </div>


      <div class="image-warp d-flex flex-reverse">
      <% @question.each do |image| %>
          <div class="my-4">
              <div class="card border-success shadow p-3 mx-3"style="width:23rem">
               <div class= "mx-auto">
              <div class="mt-1 pt-3 pl-3 mb-2">
                  <!--アイコン-->
                  <%= link_to user_path(image.user),class:"text-dark" do %>
                    <%= image_tag image.user.get_profile_image(130,130),class: "icon rounded-circle" %>
                    <%= image.user.name %>
                  <% end %>
                </div>
                  <div class= "index-image col-md-11">
                    <!--写真-->
                    <%= image_tag image.get_question_image(700,520)%>
                  </div>
                    <p class="font-weight-bold card-title pl-3 pt-2 col-md-11">
                    <!--タイトル-->
                      <%= link_to post_image_path(image.id), class:"text-dark" do %>
                        <%= image.question_title %>
                      <% end %>
                    </p>
                    <p class="card-title pl-3 pt-2 col-md-11">
                    <!--内容,ハッシュタグリンク-->
                      <%= render_with_hashtags(image.question_body) %><br>
                      <%= image.created_at.strftime('%Y/%m/%d') %>
                    </p>
                    <h2 class="text-right favorite-btn_<%= image.id %>">
                    <%= render "public/question_favorites/favorite-btn", question: image %>
                 </h2>
                </div>
                </div>
            
            <% end %>
                </div>
              </div>
        </div>

     <% end %>
    </div>
  </div>
  <!--フッター-->
  <%= render 'layouts/footer' %>