<!--ヘッター-->
<%= render 'layouts/header' %>
<!--一覧-->
<div class="container mt-5">
  <h5>質問一覧</h5>
  <div class="row">
    <div class="col-md-2">
    <p>カテゴリー</p>
  </div>
  <div class="col-lg-10">
<% @questions.each do |question| %>
<%= link_to question_path(question.id) do %>
<%= image_tag question.get_question_image(200,200) %>
<% end %>

<%= link_to user_path(question.user) do %>
<%= question.user.name %>
<% end %>

<%= link_to(question_path(question.id), class:"text-dark") do %>
<p><%= question.question_title %></p>
<% end %>
<%= question.question_body %>
<p><%= link_to "#{question.answers.count} 回答", question_path(question.id) %></p>
<br>
<% end %>
  </div>
  </div>
</div>
<!--フッター-->
<%= render 'layouts/footer' %>