<!--ヘッター-->
<%= render 'layouts/header' %>

<!--一覧-->
<div class="container mt-3">
  <div class="row">
    <div class="col-2 list-unstyled">
    <p>質問カテゴリー</p>
    <% @question_categories.each do |category| %>
    <li><%= link_to category.question_category,questions_path(question_category: category.id) %></li>
    <br>
    <% end %>
    </div>

<div class="col-10">
<% @questions.each do |question| %>
<div class="col">
  <%= link_to(user_path(question.user), class:"text-dark") do %>
  <%= image_tag question.user.get_profile_image(30,30),class: "rounded-circle" %>
  <%= question.user.name %>
  <% end %>
  <br>
  <%= image_tag question.get_question_image(300,300) %>
</div>

<div class="col">
<p class=" font-weight-bold">
<%= link_to(question_path(question.id), class:"text-dark text-left") do %>
<%= question.question_title %>
<% end %>
</p>
<p><%= question.question_body %></p>
<p><%= link_to "#{question.answers.count} 回答", question_path(question.id) %></p>
<br>
</div>
<% end %>
</div>

  
  

</div>
</div>
<!--フッター-->
<%= render 'layouts/footer' %>