<!--ヘッター-->
<%= render 'layouts/header' %>

<h5>投稿詳細画面</h5>
<%= image_tag @question.get_question_image(200,200) %>

<%= link_to user_path(@question.user) do %>
<%= @question.user.name %>
<% end %>
<p><%= @question.question_title %></p>
<!--投稿文章-->
<p>説明：<%= @question.question_body %></p>
<p>♡</p>

<% if @question.user == current_user %>
  <%= link_to edit_question_path(@question) do %>
  編集
  <% end %>

  <%= link_to question_path(@question), method: :delete do %>
  <p>削除</p>
  <% end %>
<% end %>
<div>
  <p>回答数：<%= @question.answers.count %></p>
  <% @question.answers.each do |answer| %>
    <p><%= image_tag answer.user.get_profile_image(100,100) %></p>
    <%= answer.user.name %>
    <%= answer.created_at.strftime('%Y/%m/%d') %><%= answer.answer %>
    <% if answer.user == current_user %>
      <%= link_to "削除", question_answer_path(answer.question, answer), method: :delete %>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_with model: [@question, @answer],url: question_answers_path(@question), method: :post  do |f| %>
    <%= f.text_area :answer, rows: '5', placeholder: "回答をここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>



<!--フッター-->
<%= render 'layouts/footer' %>
