<!--ヘッター-->
<%= render 'layouts/header' %>

<h5>投稿詳細画面</h5>
<%= image_tag @question.get_question_image %>

<%= link_to user_path(@question.user) do %>
<%= @question.user.name %>
<% end %>
<p><%= @question.question_title %></p>
<!--投稿文章-->
<p>説明：<%= @question.question_body %></p>
<p>♡</p>

<% if @question.user == current_user %>
  <%= link_to edit_question_path(@question) do %>
  編集
  <% end %>

  <%= link_to question_path(@question), method: :delete do %>
  <p>削除</p>
  <% end %>
<% end %>
<div>
  <p>回答数：<%= @question.comments.count %></p>
  <% @question.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.user == current_user %>
      <%= link_to "削除", question_comment_path(comment.question, comment), method: :delete %>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_with model: [@question, @comment],url: question_comments_path(@question), method: :post  do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "回答をここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>



<!--フッター-->
<%= render 'layouts/footer' %>
