<!--ヘッター-->
<%= render 'layouts/header' %>
  <div class='container mt-5'>
    <div class='row mx-5 mt-5 justify-content-center'>

      <%= link_to admin_post_categories_path, class: 'nav-link text-dark' do %>
         <p>投稿カテゴリ</p>
        <% end %>
        <%= link_to admin_question_categories_path, class: 'nav-link text-dark' do %>
         <p class="font-weight-bold">質問カテゴリ</p>
      <% end %>
    </div>
    <%= form_with model: @question_category,local:true, url: admin_question_categories_path, method: :post do |f| %>
    <br>
    <div class="form-group row mx-5 mt-5 justify-content-center">
       <%= f.label "New" ,class: "mx-2" %>
       <%= f.text_field :question_category ,class: 'col-3 form-control question_category'%>
       <%= f.submit "新規登録",class: "mx-2 btn btn-outline-success" %>
      <% end %>
    </div>
    <div class='row mx-5 mt-5 justify-content-center'>
      <div class='col-6'>
        <table class='table'>
          <thead>
            <tr>
              <th>カテゴリー</th>
              <th></th>
            </tr>
          </thead>
          <% @question_categories.each do |category| %>
            <tbody>
              <tr>
                <td><%= category.question_category %></td>
                <td><%= link_to '編集',edit_admin_question_category_path(category.id), class: "btn btn-sm btn-outline-success"%></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<!--フッター-->
<%= render 'layouts/footer' %>