<!--ヘッター-->
<%= render 'layouts/header' %>
  <div class="container mt-5">
    <div class="row mx-5 mt-5">
      <!--カテゴリ-->
      <%= render "layouts/side", post_categories: @post_categories, question_categories: @question_categories %>
        <!--一覧-->
        <div class="col-8 offset-1">
          <h5>検索結果</h5>
          <p>投稿者</p>
          <% if @post_images.present? %>
              <% @post_images.each do |image| %>
                <div class="mt-2 mb-1">
                  <%= link_to user_path(image.id) do %>
                    <%= image_tag image.user.get_profile_image(30,30),class: "rounded-circle icon" %>
                    <%= image.user.name %>
                  <% end %>
                </div>
                <div class="d-flex">
                  <div class="side-image">
                    <%= image_tag image.get_image(350,200) %>
                  </div>
                  <div class="side-text">
                    <%= link_to post_image_path(image.id) do %>
                       <%= image.title %>
                    <% end %>
                  </div>
                </div>
              <% end %>
          <% else %>
            <p>投稿はありません</p>
          <% end %>
          <p>ユーザー</p>
          <% if @post_images.present? %>
              <% @users.each do |u| %>
                <%= link_to user_path(u.id) do %>
                  <%= u.name %>
                  <%= image_tag u.get_profile_image(100,100) %>
                <% end %>
              <% end %>
              </div>
          <% else %>
           <!--いない場合-->
           <p>対象のユーザーはいません</p>
          <% end %>
        </div>
    </div>
  </div>
<!--フッター-->
<%= render 'layouts/footer' %>