<!--ヘッダー-->
<%= render 'layouts/header' %>
<!--投稿一覧-->
<div class="container-fluid">
 <div class="row mx-5 mt-5">
  <div class="col-md-12">

    <p class="ml-3 mt-3">
    新規投稿順で表示
    </p>
     <div class="image-warp d-flex flex-reverse">
       <% @post_images.each do |post_image| %>
        <div class="my-4">
          <div class="card border-success shadow p-3 mx-3" style="width:23rem">
            <div class= "mx-auto">

             <div class="mt-1 pt-3 pl-3">
               <!--アイコン-->
               <%= image_tag post_image.user.get_profile_image(130,130), class: "icon rounded-circle mb-3" %>
               <%= link_to admin_user_path(post_image.user), class:"text-dark" do %>
                 <%= post_image.user.name %>
               <% end %>
             </div>

             <div class="index-image col-md-11">
               <%= image_tag post_image.get_image(700,520)%>
             </div>

             <!--文章-->
             <p class="font-weight-bold card-title pl-3 pt-2 col-md-11">
              <%= link_to admin_post_image_path(post_image.id), class:"text-dark" do %>
                <%= post_image.title %>
              <% end %>
                ♥<%= post_image.favorites.count %>
               <i class="fa-regular fa-message"></i><%= post_image.comments.count %>
             </p>
             <p class="card-title pl-3 pt-2 col-md-11">
               <%= post_image.body %>
               <%= post_image.created_at.strftime('%Y/%m/%d') %>
             </p>

            </div>
          </div>
        </div>
       <% end %>
      </div>

   </div>
 </div>
</div>
<!--フッター-->
<%= render 'layouts/footer' %>