 <div class="container-fluid">
<div class="row mx-auto mt-5">
<!--サイド-->
<%= render "layouts/side", post_categories: @post_categories, hashtags: @hashtags %>
<!--一覧-->
<div class="col-md-9 offset-md-1">



<% @post_images.each do |post_image| %>
<div class="mx-3 my-4">
 <div class="card border-success shadow p-3 mx-3">
  <div class= "mx-auto">

   <div class="mt-1 pt-3 pl-3">
    <!--アイコン-->
    <%= link_to admin_user_path(post_image.user) do %>
      <%= image_tag post_image.user.get_profile_image(130,130), class: "icon rounded-circle" %>
      <%= post_image.user.name %>
    <% end %>
   </div>
   <!--<div class="d-flex">-->
    <div class="index-image col-md-11">
      <!--写真-->
      <%= image_tag post_image.get_image(700,520)%>
    </div>
    <!--文章-->
    <!--<div class="side-text">ならぶ-->
    <p class="font-weight-bold card-title pl-3 pt-2 col-md-11">
     <%= link_to admin_post_image_path(post_image.id), class:"text-dark" do %>
       <%= post_image.title %>
     <% end %>
    </p>
    <!--<p>-->
    <!--♡%= post_image.favorites.count %>-->
    <!--</p>-->
    <!--ハッシュタグ-->
    <p class="card-title pl-3 pt-2 col-md-11">
    　<%= render_with_hashtags(post_image.body) %>
      <%= post_image.created_at.strftime('%Y/%m/%d') %>
    </p>
    <!--コメント-->
　  <!--<= link_to "#{post_image.comments.count} コメント", post_image_path(post_image.id) %>-->
 </div>
<!--</div>-->
</div>
</div>
<% end %>
</div>
</div>

</div>
</div>
<!--フッター-->
<%= render 'layouts/footer' %>