<!--ユーザー詳細-->
<div class='container-fluid'>
  <div class='row mx-auto mt-5 justify-content-center'>

      <div class="col-md-2">
       <table class='table table-bordered bg-light'>
         <tr>
           <td>
            <%= image_tag @user.get_profile_image(200,200),class: "rounded-circle user" %>
           </td>
         </tr>
         <tr>
          <td>
            名前:<%= @user.name %>
          </td>
        </tr>
        <tr>
          <td>
            自己紹介:<br>
            <%= @user.introduction %>
          </td>
        </tr>
        <tr>
         <td>会員ステータス:<br>
         <% if @user.is_deleted == false %>
          <span>有効</sapn>
         <% else %>
          <sapn class='text-danger'>利用停止中</sapn>
         <% end %>
         </td>
        </tr>
       </table>

       <div class='row ml-4'>
         <p>
          <%= link_to "Edit", edit_admin_user_path(@user),class:"text-dark", data: { confirm: 'ユーザーのステータスを変更しますか？' } %>
        </p>
       </div>
     </div>

     <div class="col-md-9">
      <div class="row justify-content-start">

      <% if @user.post_images.present? %>
        <!--ある場合-->
        <div class="image-warp d-flex flex-reverse">
          <% @user.post_images.each do |post_image| %>
            <div class="my-4">
            <div class="card border-success shadow p-3 mx-3" style="width:20rem">
              <div class= "mx-auto">
                <div class="index-image col-md-8">
                   <%= image_tag post_image.get_image(700,520), class: "img-fluid" %>
                </div>
            <p class="font-weight-bold card-title pl-3 pt-2 col-md-11">
             <%= link_to admin_post_image_path(post_image.id), class:"text-dark" do %>
                 <%= post_image.title %>
               <% end %>
            </p>
             <p class="card-title pl-3 pt-2 col-md-11">
                  <!--内容,ハッシュタグリンク-->
                  <%= post_image.body %><br>
                  <%= post_image.created_at.strftime('%Y/%m/%d') %>
            </p>
             </div>
            </div>
          </div>

          <% end %>
      <% else %>
          <!--ない場合-->
      <p>投稿はありません</p>
      <% end %>
      </div>
      </div>

  </div>
</div>