<!--ヘッター-->
<%= render 'layouts/header' %>
  <div class='container mt-5'>
    <div class='row mx-5 mt-5'>
      <!--カテゴリ-->
      <%= render "layouts/side", post_categories: @post_categories, question_categories: @question_categories, hashtags: @hashtags %>
     <!--<div class="bg-light">-->
      <div class="col-8 offset-1 card">
        <div class='row card-body'>
          <!--右-->
          <div class="col-3">
            <table class='table table-bordered'>
              <tr>
                <td>
                  <%= image_tag @user.get_profile_image(200,200),class: "rounded-circle user" %>
                </td>
              </tr>
              <tr>
                <td>
                  名前:<%= @user.name %>
                </td>
              </tr>
              <tr>
                <td>
                  自己紹介:<%= @user.introduction %>
                </td>
              </tr>
              <tr>
                 <td>
                   <%= link_to "#{@user.follower.count}フォロー", following_path(current_user, @user),class:"text-dark" %>
                 </td>
              </tr>
              <tr>
                 <td>
                   <%= link_to "#{@user.followed.count}フォロワー", follower_path(current_user, @user),class:"text-dark"%>
                 </td>
              </tr>
            </table>
            <% if current_user.name != "guestuser" %>
                <div class='row mx-2'>
                  <% if @user == current_user %>
                  <!--自分-->
                   <p>
                    <%= link_to "プロフィール編集", edit_user_path(@user),class:"text-success" %>
                   </p>
                  <% else %>
                    <!--他のユーザー-->
                      <% if current_user.following?(@user) %>
                       <p>
                        <%= link_to 'フォロー中', user_unfollow_path(current_user, @user), method: :POST %>
                       </p>
                      <% else %>
                       <p>
                        <%= link_to 'フォローする', user_follow_path(current_user, @user), method: :POST %>
                       </p>
                      <% end %>
                  <% end %>
                </div>
            <% end %>
          </div>
          <!--左-->
          <div class="col-9 ">
            <ul class="row d-flex align-items-center list-unstyled">
              <li class="col-2">
                <%=link_to"記事",user_path(@user), class: 'font-weight-bold nav-link text-dark'  %>
              </li>
              <li class="col-2">
                <%=link_to"質問",questions_user_path(@user), class: 'nav-link text-dark'  %>
              </li>
              <li class="col-3">
                <%=link_to"いいね",favorites_user_path(@user), class: 'nav-link text-dark'  %>
              </li>
            </ul>
              <% if @user.post_images.present? %>
                <div class="image-warp">
                  <% @post_images.each do |post_image| %>
                    <div class="index-image px-2">
                      <%= link_to post_image_path(post_image.id) do %>
                      <%= image_tag post_image.get_image(300,300) %>
                      <% end %>
                      <%= link_to(post_image_path(post_image.id), class:"text-dark") do %>
                        <p>
                          <%= post_image.title %>
                        </p>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <!--ない場合-->
                <p>
                  投稿した記事はありません
                </p>
              <% end %>
          </div>
        <!--</div>-->
      </div>
    </div>
    </div>
  

    </div>
  </div>
<!--フッター-->
<%= render 'layouts/footer' %>