<!--ヘッター-->
<%= render 'layouts/header' %>
    <div class="container-fluid">
    <div class='row mx-auto mt-5'>
      <!--サイドユーザー情報-->
      <div class="col-md-10">
        <div class='row card-body'>

          <div class="col-md-2">

            <table class='table table-bordered bg-light pl-3'>
              <tr>
                <td>
                  <%= image_tag @user.get_profile_image(200,200),class: "rounded-circle user" %>
                </td>
              </tr>
              <tr>
                <td>
                  名前:<%= @user.name %>
                </td>
              </tr>
              <tr>
                <td>
                  自己紹介:<%= @user.introduction %>
                </td>
              </tr>
              <tr>
                 <td>
                   <%= link_to "#{@user.follower.count}フォロー", following_path(current_user, @user),class:"text-dark" %>
                 </td>
              </tr>
              <tr>
                 <td>
                   <%= link_to "#{@user.followed.count}フォロワー", follower_path(current_user, @user),class:"text-dark"%>
                 </td>
              </tr>
            </table>

            <% if current_user.name != "guestuser" %>
                <div class='row mx-auto'>
                  <% if @user == current_user %>
                  <!--自分-->
                   <p>
                    <%= link_to "プロフィール編集", edit_user_path(@user),class:"text-success" %>
                   </p>
                  <% else %>
                    <!--他のユーザー-->
                      <% if current_user.following?(@user) %>
                       <p>
                        <%= link_to 'フォロー中', user_unfollow_path(current_user, @user), method: :POST %>
                       </p>
                      <% else %>
                       <p>
                        <%= link_to 'フォローする', user_follow_path(current_user, @user), method: :POST %>
                       </p>
                      <% end %>
                  <% end %>
                </div>
            <% end %>

          </div>

          <!--左-->
          <div class="col-md-9 offset-md-1">
            <div class="row mx-5 justify-content-start">
                <p>
                  <%=link_to"記事",user_path(@user), class: 'font-weight-bold nav-link text-dark'  %>
                </p>
                <p>
                 <%=link_to"質問",questions_user_path(@user), class: 'nav-link text-dark'  %>
                </p>
                <p>
                 <%=link_to"いいね",favorites_user_path(@user), class: 'nav-link text-dark'  %>
                </p>
            </div>
              <% if @user.post_images.present? %>
                  <% @post_images.each do |post_image| %>
                    <div class="mx-3 my-4">
                      <div class="card border-success shadow p-3 mx-3">
                         <div class= "mx-auto">
                          <div class="index-image col-md-9">
                            <%= link_to post_image_path(post_image.id) do %>
                              <%= image_tag post_image.get_image(700,520) %>
                            <% end %>
                           <p class="font-weight-bold card-title pl-3 pt-2 col-md-9">
                            <%= link_to(post_image_path(post_image.id), class:"text-dark") do %>
                              <%= post_image.title %>
                            <% end %>
                           </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% end %>
              <% else %>
              <!--ない場合-->
              <p>
                投稿した記事はありません
              </p>
              <% end %>
          </div>
        <!--</div>-->
      </div>
    </div>
    </div>


    </div>
  </div>
<!--フッター-->
<%= render 'layouts/footer' %>