<!--ヘッダー-->
<header class="sticky-top">
  <nav class="navbar navbar-expand-lg">
    <!--ロゴ-->
   <div class="container-fluid">

      <a class="navbar-brand" href="/post_images">
        <div>
         <%= image_tag(('title.png'),width: '15%',height: '15%') %>
        </div>
      </a>

      <button class="navbar-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>

      <% unless signed_in? %>
      <% else %>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav mx-5">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to post_images_path, class: 'nav-link text-light' do %>
                <strong>
                 <i class="fa-solid fa-sun-plant-wilt"></i>Home
                </strong>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to search_path, class: 'nav-link text-light' do %>
                <strong>
                 <i class="fa-solid fa-magnifying-glass"></i>Search
                </strong>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_news_images_path, class: 'nav-link text-light' do %>
                <strong>
                 <i class="fa-solid fa-bullhorn"></i>News
                </strong>
              <% end %>
            </li>
          <% else %>
          <!--管理者の場合-->
            <li class="nav-item">
              <%= link_to admin_post_images_path, class: 'nav-link text-light' do %>
                <strong>
                 <i class="fa-solid fa-sun-plant-wilt"></i>Posts
                </strong>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_users_path, class: 'nav-link text-light' do %>
                <strong>
                 <i class="fa-solid fa-users"></i>Users
                </strong>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_news_images_path, class: 'nav-link text-light' do %>
                <strong>
                 <i class="fa-solid fa-bullhorn"></i>News
                </strong>
              <% end %>
            </li>
          <% end %>

          <!--アイコン-->
          <li class="dropdown nav-item">
            <!--外側-->
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton", data-toggle="dropdown">
              <% if user_signed_in? %>
              　<%= image_tag current_user.get_profile_image(100,100),class: "rounded-circle icon" %>
              <% else %>
              　<%= image_tag 'no_user.jpeg',width: '30px',height: '30px',class: "rounded-circle" %>
              <% end %>
            </button>
            <!--アイコン中身-->
              <div class="dropdown-menu dropdown-menu-right">
              <% if user_signed_in? %>
              <!--会員の場合-->
                <%= link_to user_path(current_user), class: 'nav-link text-dark' do %>
                 マイページ
                <% end %>
                <%= link_to new_post_image_path, class: 'nav-link text-dark ' do %>
                 投稿
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
                 ログアウト
                <% end %>
              <% else %>
                <!--管理者の場合-->
                <%= link_to new_admin_news_image_path, class: 'nav-link text-dark' do %>
                 投稿
                <% end %>
                <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
                 ログアウト
                <% end %>
              <% end %>
              </div>
          </li>
        </ul>

       </div>
     <% end %>
   </div>
  </nav>
</header>