<header>

  <nav class="navbar navbar-expand-sm">
    <!--上左-->
    <a class="navbar-brand p-2" href="/post_images"><%= image_tag(('logo-PlanT-to.png'),width: '30%',height: '30%') %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <!--<span class="navbar-toggler-icon"></span>-->
    </button>

    <!--アイコンから表示 -->
    <div class="row justify-content-end">
    <div class="dropdown">
      <!--外側-->
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton", data-toggle="dropdown">
        <% if user_signed_in? %>
        <%= image_tag current_user.get_profile_image(30,30),class: "rounded-circle icon" %>
         <% else %>
         <%= image_tag 'no_user.jpeg',width: '30px',height: '30px',class: "rounded-circle" %>
        <% end %>
      </button>
      <!--中身-->
       <div class="dropdown-menu dropdown-menu-right">
          <% if user_signed_in? %>
              <%= link_to user_path(current_user), class: 'nav-link text-dark' do %>
              マイページ
              <% end %>
                 <% if current_user.name != "guestuser" %>
                 <!--会員の場合-->
                    <%= link_to new_post_image_path, class: 'nav-link text-dark ' do %>
                     投稿
                    <% end %>
                    <%= link_to admin_news_images_path, class: 'nav-link text-dark' do %>
                     お知らせ
                    <% end %>
                 <% else %>
                 <!--ゲストの場合-->
                    <%= link_to admin_news_images_path, class: 'nav-link text-dark' do %>
                    お知らせ
                    <% end %>
                <% end %>
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
               ログアウト
              <% end %>
          <% else %>
          <!--管理者の場合-->
              <%= link_to admin_news_images_path, class: 'nav-link text-dark' do %>
                お知らせ
              <% end %>
              <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
                ログアウト
              <% end %>
          <% end %>
       </div>

      </div>
   </div>
   </nav>



  <!--下部分-->
  <div class="row bar mx-3">
  <div class="col-md-12 col-sm-12 pt-3">

    <ul class="row d-box align-items-center list-unstyled">

    <% if user_signed_in? %>

      <li class="col-md-4 col-sm-2">
      <%= link_to post_images_path, class: 'nav-link text-light text-right' do %>
      　<strong>
      　    Home
      　</strong>
      <% end %>
      </li>

      <li class="col-md-4 col-sm-2">
      <%= link_to search_path, class: 'nav-link text-light text-center' do %>
         <strong>
           Search
         </strong>
      <% end %>
      </li>

      <li class="col-md-4 col-sm-2">
      <%= link_to new_post_image_path, class: 'nav-link text-light text-left' do %>
         <strong>
           Mypage
        </strong>
      <% end %>
      </li>

  <% else %>

      <li class="col-md-4 col-sm-4">
        <%= link_to admin_post_images_path, class: 'nav-link text-light text-right' do %>
         <strong>
          Home
         </strong>
        <% end %>
      </li>
      <li class="col-md-4">
        <%= link_to admin_users_path, class: 'nav-link text-light text-center' do %>
          <strong>
            User
          </strong>
        <% end %>
       </li>
      <li class="col-md-4">
      <%= link_to admin_post_categories_path, class: 'nav-link text-light text-left' do %>
      <strong>Category</strong>
      <% end %>
      </li>
     <% end %>
     </ul>
     </div>
     </div>
    </header>